.medal-points {
    &-100, &-200, &-300 {
        color: $color-green;
    }

    &-400, &-500, &-600, &-700 {
        color: $color-yellow;
    }

    &-800, &-900, &-1000 {
        color: $color-red;
    }
}