/****************************************
  SCROLLTOP IMPORTANT 
*****************************************/

.scrollTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  background-color: #BE3F48;
  padding: 10px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}