<div class="block-content left-content">
    <div class="senno-info">
        <img src="/images/sennoLogo.png" />
        <div class="highlight senno-mt">Already have an account? Login clicking in the button below.</div>
        <a href="/login/" class="btn btn-outline senno-mt" name="login">Login</a>
        <div class="senno-mt">After you register to your SENNO  Basic account, you'll have free and full access to the aplication with limited usage. You can upgrade to a Standard or Premium account to have unlimited use of the features, and other resources.</div>
    </div>
    <div class="footer">
        <div class="font-weight-bold">Follow us</div>
        <ul>
            <li><a href="#"><%- h.svg('facebook', '', 'height:15px') %></a></li>
            <li><a href="#"><%- h.svg('twitter', '', 'height:15px') %></a></li>
            <li><a href="#"><%- h.svg('youtube', '', 'height:15px') %></li>
        </ul>
    </div>
</div>
