<div class="block-content left-content">
        <div class="senno-info">
            <img src="/images/sennoLogo.png" />
            <div class="senno-mt">After you upgrade to a Pay-As-You-Go account, you can use the credit to try new services or scale your projects. The credit is valid for one month and can be used with any of our Senno Delta!</div>
        </div>
        <div class="footer">
            <div class="font-weight-bold">Siga-nos</div>
            <ul>
                <li><a href="#"><%- h.svg('facebook', '', 'height:15px') %></a></li>
                <li><a href="#"><%- h.svg('twitter', '', 'height:15px') %></a></li>
                <li><a href="#"><%- h.svg('youtube', '', 'height:15px') %></li>
            </ul>
        </div>
    </div>
    