<div class="block-content left-content">
    <div class="senno-info">
        <h4>Welcome to</h4>
        <img src="/images/sennoLogo.png" />
        <div class="highlight senno-mt">Register now and start transforming information into action.</div>
        <a href="/register/" class="btn btn-outline senno-mt" name="signup">Register</a>
        <a href="/login/demo" class="btn btn-outline senno-mt" name="signup" style="margin-left: 10px;">Demo</a>
        <div class="senno-mt">After you register to your SENNO  Basic account, you'll have free and full access to the aplication with limited usage. You can upgrade to a Standard or Premium account to have unlimited use of the features, and other resources.</div>
    </div>
    <div class="footer">
        <div class="font-weight-bold">Follow us</div>
        <ul>
            <li><a href="#"><%- h.svg('facebook', '', 'height:15px') %></a></li>
            <li><a href="#"><%- h.svg('twitter', '', 'height:15px') %></a></li>
            <li><a href="#"><%- h.svg('youtube', '', 'height:15px') %></li>
        </ul>
    </div>
</div>