<!-- <div class="lds-ripple"><div></div><div></div></div> -->
<div class="page-loader">
    <div class="loader-logo"><img src="/images/sennoLogo-blue.png"/></div>
    <div class="loader-bar">
    </div>
</div>