.configuracoes-page {
    .select-cover {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #000;
        border-radius: 50%;
        padding: 7px 14px;
        min-width: 180px;
        max-width: 180px;
        min-height: 180px;
        max-height: 180px;
    }

    .second-navbar {
        .nav-link {
            color: black !important;
            font-weight: 400;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .active {
            .nav-link {
                color: var(--navbar-background-color) !important;
            }
        }
    }

    .nav.nav-tabs-block {
        display: block;
        line-height: 1;
        // padding: 1rem;
        // float: left;
        // margin-right: 20px;
        // border-bottom:0;
        // border-right: 1px solid #ddd;
        // padding-right: 15px;
    }
    .nav-tabs-block .nav-link {
        padding: 1rem;
        // border: 1px solid transparent;
        // border-top-left-radius: .25rem;
        // border-top-right-radius: .25rem;
        // background: #ccc;
    }
    .nav-tabs-block .nav-link.active {
        // color: white;
        // background-color: var(--navbar-background-color) !important;

        color: var(--navbar-background-color) !important;

        font-weight: bold;
        // border-color: transparent !important;
    }
    .nav-tabs-block .nav-link {
        // border: 1px solid transparent;
        border-top-left-radius: 0rem!important;
        border-top-right-radius: 0rem!important;
	}
	
	.rdt_Table_Organization_Users {
		overflow-x: visible;

		.rdt_Table {
			.rdt_TableHead {
				.rdt_TableHeadRow {
					.rdt_TableCol, .rdt_TableCol_Sortable {
						font-size: 14px;
						color: black;
					}
				}
			}
			.rdt_TableBody {
				overflow-y: visible;

				.rdt_TableRow {
					min-height: 68px !important;
				}
			}
		}
	}
}

/* Credit Card Form */
.usable-creditcard-form, .usable-creditcard-form * {
    font-size: 13px;
}
.usable-creditcard-form {
    position: relative;
    padding: 0px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.usable-creditcard-form .wrapper {
    border: 1px solid #CCC;
    border-top: 1px solid #AAA;
    border-right: 1px solid #AAA;
    height: 74px;
    width: 300px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.usable-creditcard-form .input-group {
    position: absolute;
    top: 300px;
}
.usable-creditcard-form .input-group.nmb_a {
    position: absolute;
    width: 200px;
    top: 0px;
    left: 0px;
}
.usable-creditcard-form .input-group.nmb_b {
    position: absolute;
    width: 100px;
    top: 0px;
    right: 0px;
}
.usable-creditcard-form .input-group.nmb_b input,
.usable-creditcard-form .input-group.nmb_d input {
    text-align: center;
}
.usable-creditcard-form .input-group.nmb_c {
    position: absolute;
    width: 200px;
    top: 37px;
    left: 0px;
}
.usable-creditcard-form .input-group.nmb_d {
    position: absolute;
    width: 100px;
    top: 37px;
    right: 0px;
}
.usable-creditcard-form input {
    background: none;
    display: block;
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin:0px;
    padding-left: 35px;
    border: none;
}
.usable-creditcard-form .input-group .icon {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #CCC;
    left: 8px;
    top: 7px;
}
.usable-creditcard-form .input-group.nmb_a input {
    border-right: 1px solid #ECECEC;
}
.usable-creditcard-form .input-group.nmb_c input {
    border-top: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.usable-creditcard-form input::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: none;
}
.usable-creditcard-form .input-group.nmb_d input {
    border-top: 1px solid #ECECEC;
}

.usable-creditcard-form .input-group.nmb_c input {
    text-transform: uppercase;
}
.usable-creditcard-form .accept {
    color: #999;
    font-size: 11px;
    margin-bottom: 5px;
}
.usable-creditcard-form .footer {
    margin-top: 3px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.usable-creditcard-form .footer img {
    padding: 0px;
    margin: 0px;
}
.usable-creditcard-form .iugu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Do not forget to store your images in a secure server */
.usable-creditcard-form .input-group .icon.ccic-name {
    background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-name.1cafa1882fdd56f8425de54a5a5bbd1e.png") no-repeat;
}
.usable-creditcard-form .input-group .icon.ccic-exp {
    background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-exp.05e708b1489d5e00c871f20ba33bbff3.png") no-repeat;
}
.usable-creditcard-form .input-group .icon.ccic-brand {
    background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-brands.48dba03883007f86e118f683dcfc4297.png") no-repeat;
}
.usable-creditcard-form .input-group .icon.ccic-cvv { background: url("http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/ccic-cvv.1fe78dcc390427094bdc14dedea10f34.png") no-repeat; }

.usable-creditcard-form .input-group .icon.ccic-cvv,
.usable-creditcard-form .input-group .icon.ccic-brand
{
    -webkit-transition:background-position .2s ease-in;
    -moz-transition:background-position .2s ease-in;
    -o-transition:background-position .2s ease-in;
    transition:background-position .2s ease-in;
}

.amex .usable-creditcard-form .input-group .icon.ccic-cvv {
    background-position: 0px -22px;
}

.amex .usable-creditcard-form .input-group .icon.ccic-brand {
    background-position: 0px -110px;
}

.visa .usable-creditcard-form .input-group .icon.ccic-brand {
    background-position: 0px -22px;
}

.diners .usable-creditcard-form .input-group .icon.ccic-brand {
    background-position: 0px -88px;
}

.mastercard .usable-creditcard-form .input-group .icon.ccic-brand {
    background-position: 0px -66px;
}

/* Non Credit Card Form - Token Area */
.token-area {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dotted #CCC;
    display: block;
    padding: 20px;
    background: #EFEFEF;
}









/* ======================== */
/*   Syed Sahar Ali Raza   	*/
/* ========================	*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

#generic_price_table {
	// background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
	background-color: #f6f6f6;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head_bg {
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head
	span {
	color: #525252;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.sign {
	color: #414141;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.currency {
	color: #414141;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.cent {
	color: #414141;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.month {
	color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover {
	background-color: #e4e4e4;
	border-left: 5px solid var(--navbar-background-color);
}

#generic_price_table .generic_content .generic_price_btn a {
	border: 1px solid var(--navbar-background-color);
	color: var(--navbar-background-color);
}

#generic_price_table
	.generic_content.active
	.generic_head_price
	.generic_head_content
	.head_bg,
#generic_price_table
	.generic_content:hover
	.generic_head_price
	.generic_head_content
	.head_bg {
	border-color: var(--navbar-background-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--navbar-background-color);
	color: #fff;
}

#generic_price_table
	.generic_content:hover
	.generic_head_price
	.generic_head_content
	.head
	span,
#generic_price_table
	.generic_content.active
	.generic_head_price
	.generic_head_content
	.head
	span {
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
	background-color: var(--navbar-background-color);
	color: #fff;
}
#generic_price_table {
	margin: 50px 0 50px 0;
	font-family: "Raleway", sans-serif;
}
.row .table {
	padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content {
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content {
	margin: 0 0 50px 0;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head_bg {
	border-style: solid;
	border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head {
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head
	span {
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
	padding: 0 0 20px;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price {
	display: block;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.sign {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 400;
	vertical-align: middle;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.currency {
	font-family: "Lato", sans-serif;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 60px;
	padding: 0;
	vertical-align: middle;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.price
	.cent {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: 400;
	vertical-align: bottom;
}

#generic_price_table
	.generic_content
	.generic_head_price
	.generic_price_tag
	.month {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 3px;
	vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li .fa {
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn {
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	outline: medium none;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head_bg,
#generic_price_table
	.generic_content:hover
	.generic_head_price
	.generic_head_content
	.head_bg,
#generic_price_table
	.generic_content
	.generic_head_price
	.generic_head_content
	.head
	h2,
#generic_price_table
	.generic_content:hover
	.generic_head_price
	.generic_head_content
	.head
	h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 320px) {
}

@media (max-width: 767px) {
	#generic_price_table .generic_content {
		margin-bottom: 75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3 {
		float: left;
		width: 50%;
	}

	#generic_price_table .col-md-4 {
		float: left;
		width: 50%;
	}

	#generic_price_table .generic_content {
		margin-bottom: 75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home {
	font-family: "Raleway", sans-serif;
}

.text-center h1,
.text-center h1 a {
	color: #7885cb;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic {
	margin: 0 auto;
}
.demo-pic:hover {
	opacity: 0.7;
}

#generic_price_table_home ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li {
	float: left;
}
#generic_price_table_home li + li {
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue {
	background: #3498db;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald {
	background: #2ecc71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey {
	background: #7f8c8d;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight {
	background: #34495e;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange {
	background: #e67e22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple {
	background: #9b59b6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red {
	background: #e74c3c;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise {
	background: #1abc9c;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span {
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname {
	text-align: center;
	font-size: 50px;
	padding: 50px 0 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
	font-weight: 300;
}
#generic_price_table_home .itemnametext {
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	text-transform: uppercase;
	display: inline-block;
}
#generic_price_table_home .footer {
	padding: 40px 0;
}

.price-heading {
	text-align: center;
}
.price-heading h1 {
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.bottom_btn {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 28px;
	margin: 60px auto 20px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
}
.demo-button:hover {
	background-color: #666;
	color: #fff;
	text-decoration: none;
}
.bottom_btn:hover {
	background-color: #666;
	color: #fff;
	text-decoration: none;
}
.page-configuracoes-panel-container {
	padding-top: 30px;
	padding-bottom: 30px;
}
.page-configuracoes-panel-container-title {
	font-size: 16px;
	font-weight: 600;
}