

.perfil-page {
    padding-top: 20px !important;

    .panel-title a {
        i {
            transition: transform 0.277s 0s ease-in-out;
            transform: scale(0.8) rotate(90deg);
            top: 2px;
            position: relative;    
        }

        &.collapsed i{
            transform: scale(0.8);
        }
    }
}

.perfil-resumo {
    padding: 2em 0;
}

.perfil-action {
    display: inline-block;

    .btn, .btn-holding {
        width: 200px;
        margin-left: 1em;
        margin-right: 1em;
    }
}