@font-face {
    font-family: 'Senno';
    src:  url('/webfonts/Senno.eot?mpn7jr');
    src:  url('/webfonts/Senno.eot?mpn7jr#iefix') format('embedded-opentype'),
      url('/webfonts/Senno.ttf?mpn7jr') format('truetype'),
      url('/webfonts/Senno.woff?mpn7jr') format('woff'),
      url('/webfonts/Senno.svg?mpn7jr#Senno') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'IBM Plex Sans';
    src:  url('/webfonts/IBMPlexSans-Regular.ttf');
    src:  url('/webfonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  