
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Senno' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-plus:before {
    content: "\e935";
  }
  .icon-image:before {
    content: "\e934";
  }
  .icon-infinite:before {
    content: "\e933";
    font-size: 8px;
    vertical-align: middle;
  }
  .icon-share:before {
    content: "\e932";
  }
  .icon-arrow-circle-right:before {
    content: "\e930";
  }
  .icon-cross:before {
    content: "\e931";
  }
  .icon-question2:before {
    content: "\e92b";
  }
  .icon-earth:before {
    content: "\e92c";
  }
  .icon-user:before {
    content: "\e92d";
  }
  .icon-user-check:before {
    content: "\e92e";
  }
  .icon-edit:before {
    content: "\e92f";
  }
  .icon-target:before {
    content: "\e926";
  }
  .icon-flag:before {
    content: "\e927";
  }
  .icon-heart:before {
    content: "\e928";
  }
  .icon-redo:before {
    content: "\e929";
  }
  .icon-undo:before {
    content: "\e92a";
  }
  .icon-busca:before {
    content: "\e925";
  }
  .icon-filter:before {
    content: "\e924";
  }
  .icon-notice:before {
    content: "\e923";
  }
  .icon-hour-glass:before {
    content: "\e922";
  }
  .icon-chart:before {
    content: "\e921";
  }
  .icon-arrow-down:before {
    content: "\e91e";
  }
  .icon-arrow-up:before {
    content: "\e91f";
  }
  .icon-gavel:before {
    content: "\e920";
  }  
  .icon-lab:before {
    content: "\e91d";
  }
  .icon-google-drive:before {
    content: "\e91c";
  }
  .icon-upload:before {
    content: "\e91b";
  }
  .icon-magnifier:before {
    content: "\e91a";
  }
  .icon-stats:before {
    content: "\e918";
  }
  .icon-stats2:before {
    content: "\e919";
  }
  .icon-shrink:before {
    content: "\e917";
  }
  .icon-fire:before {
    content: "\e916";
  }
  .icon-diamond:before {
    content: "\e915";
  }
  .icon-question:before {
    content: "\e914";
  }
  .icon-pushpin:before {
    content: "\e913";
  }
  .icon-suitcase:before {
    content: "\e912";
  }
  .icon-lock:before {
    content: "\e911";
  }
  .icon-cancel:before {
    content: "\e910";
  }
  .icon-neutral:before {
    content: "\e90d";
  }
  .icon-sad:before {
    content: "\e90e";
  }
  .icon-smile:before {
    content: "\e90f";
  }
  .icon-checkmark:before {
    content: "\e905";
  }
  .icon-ellipsis:before {
    content: "\e90c";
    font-size: 5px;
    vertical-align: middle;
  }
  .icon-atom:before {
    content: "\e900";
  }
  .icon-bomb:before {
    content: "\e901";
  }
  .icon-clipboard:before {
    content: "\e902";
  }
  .icon-direction:before {
    content: "\e903";
  }
  .icon-dollar:before {
    content: "\e904";
  }
  .icon-hourglass:before {
    content: "\e906";
  }
  .icon-lamp:before {
    content: "\e907";
  }
  .icon-stopwatch:before {
    content: "\e908";
  }
  .icon-medal:before {
    content: "\e909";
  }
  .icon-rocket:before {
    content: "\e90a";
  }
  .icon-users:before {
    content: "\e90b";
  }
  